@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";
 

:root {

    font-family: "Poppins", sans-serif;
    background-color: black;
}

@layer components {
    .sub-menu {
      @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] bg-black;
    }
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .fade-out {
    animation: fadeOut 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }